# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
*.db

# VSCode
.vscode/

# PyCharm
.idea/

# Virtual environment
venv/
env/
.venv/
.env/

# Test coverage reports
.coverage
coverage.xml
nosetests.xml
*.cover

# Django static files (you can uncomment if you store them in a separate folder)
# /static/

# Local development settings
local_settings.py

# Django migrations
**/migrations/*

# MySQL/PostgreSQL specific
*.sql
*.sqlite

# Media files (if used for uploads, these are often not tracked in version control)
media/

# .env file for sensitive information
.env
